@page "/Overview"
@using ArcheryTracker.Logic
@using ArcheryTracker.Logic.Models
@using System.Security.Claims

@inject UserService UserService
@inject AuthenticationStateProvider AuthProvider

@attribute [Authorize]

@if (_user == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>Total Shots: @_user.TotalShots</p>
    <p>Shots Per Session: @_user.ShotsPerSession</p>
    <p>Total Shots This Month: @_user.ShotsThisMonth</p>
    <p>Overall Accuracy: @_user.OverallAccuracy%</p>
    <p>Bullseye Percentage: @_user.OverallBullseyeAccuracy%</p>

    <a class="nav-link" href="/mysessions">See my sessions</a>
}

@code {
    private UserStats _user { get; set; }
    private ClaimsPrincipal _userIdentity;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthProvider.GetAuthenticationStateAsync();
        _userIdentity = authState.User;
        var userId = getClaimFromIdentity("nameidentifier", _userIdentity.Claims);
        
        _user = await UserService.GetUser(userId);
    }

    private string getClaimFromIdentity(string claimName, IEnumerable<Claim> claims)
    {
        var claim = claims.FirstOrDefault(c => c.Type.Contains(claimName));
        return claim?.Value;
    }
}